:root {
    // Background color
    --bg-primary: #0c0c0c;

    // Button background color
    --btn-background: #1f1f1f;

    // Task Background color
    --task-background: #2b2b2b;

    // Delete Color
    --delete-color: #e14132;

    // Text color
    --text-primary: #fcfcfc;

    // Spacing
    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 2.5rem;

    // Border radius
    --radius-sm: .2rem;
    --radius-md: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    nav {
        padding: var(--space-md) var(--space-lg);
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: var(--btn-background);
            color: var(--text-primary);
            padding: var(--space-sm) var(--space-md);
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: var(--radius-sm);
        }
    }

    section {
        flex-grow: 1;
        padding: var(--space-md) var(--space-lg);
        display: flex;
        justify-content: space-between;
        gap: var(--space-lg);

        .task-column {
            background-color: var(--btn-background);
            flex-grow: 1;
            padding: var(--space-sm);
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            border-radius: var(--radius-md);
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

            .heading {
                display: flex;
                justify-content: space-between;
            }

            .task {
                background-color: var(--task-background);
                padding: var(--space-md);
                border-radius: var(--radius-md);
                display: flex; 
                flex-direction: column;
                cursor: grab;

                button {
                    align-self: flex-end;
                    cursor: pointer;
                    padding: var(--space-xs) var(--space-sm);
                    border-radius: var(--radius-sm);
                    border: none;
                    outline: none;
                    background-color: var(--delete-color);
                    color: var(--text-primary);
                }
            }
        }

        .hover-over {
            scale: 1.05;
            border: 2px dashed var(--text-primary);
        }
    }

}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;

    .bg {
        background-color: red;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #2b2b2b73;
        backdrop-filter: blur(5px);
    }

    .center {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);

        background-color: var(--btn-background);
        padding: var(--space-xl);
        border-radius: var(--radius-md);
        z-index: 10;

        input, textarea {
            border: none;
            outline: none;
            background-color: var(--task-background);
            padding: var(--space-md);
            border-radius: var(--radius-sm);
            color: var(--text-primary);
        }

        button {
            background-color: var(--task-background);
            color: var(--text-primary);
            border: none;
            outline: none;
            border-radius: var(--radius-sm);
            padding: var(--space-md) var(--space-lg);
            cursor: pointer;
            align-self: center;
        }
    }
}

.active {
    display: flex;
}